<!--
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
-->
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clemo – Free HTML5 Multipurpose Portfolio Page Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

</head>
<body data-spy="scroll" data-target=".navbar-collapse">
    <h2>@ViewBag.Message</h2>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
    <!-- Contact Section -->
    <section id="contact" class="contactus margin-top-120">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_contact sections">
                        <div class="head_title text-center">
                            <h3><b>Feedback</b></h3>
                        </div>
                        <div class="row">
                            <div class="contact_contant">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="single_message_right_info">
                                        <br /><br />
                                        <ul>
                                            <li>
                                                <i class="fa fa-map-marker"></i> <span>
                                                    Iskandar Cafe The Chili House
                                                    Kolej Kediaman Tun Dr Ismail
                                                    Universiti Tun Hussein Onn Malaysia
                                                </span>
                                            </li>
                                            <br />
                                            <li><i class="fa fa-mobile-phone"></i> <span>+6014-3171305</span></li>
                                            <br />
                                            <li><i class="fa fa-envelope-o"></i> <span>zeegeera@gmail.com</span></li>
                                        </ul>
                                    </div>
                                </div><!-- End of col-sm-6 -->
                                <div class="col-sm-6 col-xs-12">
                                    <div class="single_contant_left margin-top-80">
                                        <br />
                                        <form action="#" id="formid">
                                            <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->
                                            <div class="form-group">
                                                <label>name</label>
                                                <input type="text" class="form-control" name="name" required="">
                                            </div>
                                            <div class="form-group">
                                                <label>e-mail</label>
                                                <input type="email" class="form-control" name="email" required="">
                                            </div>
                                            <div class="form-group">
                                                <label>your message</label>
                                                <textarea class="form-control" name="message" rows="8"></textarea>
                                            </div>
                                            <div>
                                                <input type="submit" value="submit" class="btn">
                                            </div>
                                            <!--</div>-->
                                        </form>
                                    </div>
                                </div>
                            </div> <!-- End of messsage contant-->
                        </div>
                    </div>
                </div>
            </div><!-- End of row -->
        </div><!-- End of container -->
    </section><!-- End of contact Section -->


</body>
</html>
