@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b>KKTDI Online Food Ordering System</b></h1>
    <p class="lead">An online platform to order your food from KKTDI Iskandar Cafe.</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="breadcrumb">Our Objectives</h2>
        <p>
            Not only this website is design to ease the students for ordering process, but its simple yet interactive interfaces were designed 
            to provide an enjoyable experience of placing an order. 
        </p>
    </div>
    <div class="col-md-6">
        <h2 class="breadcrumb">Get In Touch</h2>
        <p>We truly appreciate any feedback for improving this system. Please click this button to give your valueable opinion.</p>
        <p><ul class="btn btn-default">@Html.ActionLink("Contact", "Contact", "Home")</ul></p>
    </div> 
</div>
